body{
    background-color: rgb(192, 221, 28);
}

.Heading_text{
    font-size: 95px;
    color: black;
    text-align: center;
    padding: 50px;
}
.con1{
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    margin-left: 80px;
}
.con2{
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    margin-left: 250px;
    height: 400px;
    width: 400px;
}
.con3{
    display: inline-block;
    border-radius: 8px;
    text-align: center;
    margin-left: 250px;
    height: 400px;
    width: 400px;
}
.bold{
    font-weight: bolder;
    font-size: 25px;
}
.txt{
    font-size: 20px;
}
.img{
    height: 400px;
    width: 400px;
    border-radius: 8px;
}
